<app-page-loading [active]="loading"></app-page-loading>

<div *ngIf="!loading && !initialTeacher" class="jumbotron text-center text-secondary">
  <h1>Դասախոսը չի գտնվել</h1>
  <button class="btn btn-secondary mt-4" routerLink="../">
    <fa-icon [icon]="faArrowLeft" class="me-1"></fa-icon>
    <span>Վերադառնալ</span>
  </button>
</div>

<div *ngIf="!loading && initialTeacher">
  <h3>{{ initialTeacher.firstName }} {{ initialTeacher.lastName }}</h3>
  <form #form="ngForm" class="mt-4" (submit)="submit()">
    <div class="row">
      <div class="col-6">
        <app-input
          label="Անուն"
          name="firstName"
          [(value)]="updatedTeacher.firstName"></app-input>
      </div>
      <div class="col-6">
        <app-input
          label="Ազգանուն"
          name="lastName"
          [(value)]="updatedTeacher.lastName"></app-input>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-input
          label="Էլեկրոնային հասցե"
          name="email"
          [(value)]="updatedTeacher.email"></app-input>
      </div>
      <div class="col-6">
        <app-select
          label="Աստիճան"
          name="degree"
          [items]="degreesList"
          [(value)]="updatedTeacher.degree">
        </app-select>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-select
          label="Ամբիոն"
          name="department"
          [items]="departmentsList"
          [(value)]="updatedTeacher.departmentId"></app-select>
      </div>
      <div class="col-6">
        <app-input
          label="Դրույք"
          name="rate"
          type="number"
          [(value)]="updatedTeacher.rate"></app-input>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-checkbox
          label="Ամբիոնի վարիչ"
          name="isDepartmentHead"
          [disabled]="!updatedTeacher.departmentId"
          [(value)]="editTeacherModel.isDepartmentHead"></app-checkbox>
        <app-checkbox
          label="Ֆակուլտետի դեկան"
          name="isFacultyHead"
          [disabled]="!updatedTeacher.departmentId"
          [(value)]="editTeacherModel.isFacultyHead"></app-checkbox>
      </div>
      <div class="col-6">
        <app-multiselect-autocomplete
          label="Առարկաներ"
          name="teacherSubjects"
          [required]="true"
          [items]="subjectsList"
          [(selectedItemsIds)]="editTeacherModel.subjectIds"></app-multiselect-autocomplete>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-success" [disabled]="editLoading">
        Պահպանել
        <fa-icon *ngIf="editLoading" [icon]="faSpinner" [spin]="true"></fa-icon>
      </button>
    </div>
  </form>
</div>