<app-advanced-table 
  [serviceWithGetPaged]="professionsService"
  listName="Մասնագիտություններ">

  <app-advanced-table-column key="name" title="Անուն" [sort]="true">
  </app-advanced-table-column>

  <app-advanced-table-column key="department.name" title="Ամբիոն" [sort]="true">
    <ng-template #incomingTemplate let-item="item" let-innerHTML="innerHTML">
      {{item.department?.name}}
    </ng-template>
  </app-advanced-table-column>

  <app-advanced-table-column key="courses" title="Կուրսեր">
    <ng-template #incomingTemplate let-item="item" let-innerHTML="innerHTML">
      {{item.courses?.length}}
    </ng-template>
  </app-advanced-table-column>

</app-advanced-table>