

<h4 class="mt-5 mb-3">
  Դասացուցակ
  <fa-icon *ngIf="getLoading" [icon]="faSpinner" [spin]="true"></fa-icon>
</h4>

<ng-container *ngIf="!schedule.length && !getLoading">
  <form #form="ngForm" (ngSubmit)="submit()">
    <app-multiselect-autocomplete
      [showSelectedItems]="false"
      label="Ընտրել առարկաները"
      [items]="subjects"
      [selectedItemsIds]="subjectsForScheduleGeneration"
      (selectedItemsIdsChange)="onSubjectsIdsSelected($event)"
      name="newSchedule"
      [required]="false"></app-multiselect-autocomplete>

    <div>
      <div *ngFor="let subject of weeklySubjects" class="mb-2">
        <span class="fst-italic fw-bold">{{getSubjectById(subject.subjectId)}}</span>
        <span> - շաբաթական </span>
        <input
          class="form-control subject-descriptor"
          maxlength="1"
          [(ngModel)]="subject.repeat"
          name="repeat{{subject.subjectId}}">
        <span> անգամ </span>
        <app-select
          [inline]="true"
          name="audienceType{{subject.subjectId}}"
          [items]="audienciesTypes"
          [(value)]="subject.audienceType"></app-select>
        <span> լսարանում </span>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" type="submit" [disabled]="!weeklySubjects.length || generationLoading">
        <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="generationLoading"></fa-icon>
        Ստեղծել
      </button>
    </div>
  </form>
</ng-container>

<!-- <ng-container *ngIf="schedule.length && !getLoading"> -->
<ng-container *ngIf="true">
  <div *ngFor="let row of classes; let i = index" class="row mb-4">
    <div *ngFor="let day of row; let j = index" class="col-{{12/maxDaysInRow}}">
      <div class="card">
        <div class="card-header text-center fw-bold">{{weekDays[i * maxDaysInRow + j]}}</div>
        <div class="card-body">
          <div *ngFor="let scheduleClass of day; let k = index" class="mb-1">
            <div class="d-flex align-items-center">
              <div>{{(k + 1).toString()}}.&nbsp;</div>
              <div class="w-100 text-truncate"> {{scheduleClass.subject}} </div>
            </div>
            <div>
              <div class="fst-italic text-end"><small>{{scheduleClass.teacher}}, {{scheduleClass.audience}}</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-danger me-2" (click)="openScheduleDeletingConfirmationModal()" [disabled]="savingLoading">
      <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="savingLoading"></fa-icon>
      Ջնջել
    </button>
    <button class="btn btn-success" (click)="saveSchedule()" [disabled]="savingLoading">
      <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="savingLoading"></fa-icon>
      Պահպանել
    </button>
  </div>
</ng-container>

