<app-advanced-table
  [serviceWithGetPaged]="departmentsService"
  listName="Ամբիոններ">

  <app-advanced-table-column key="name" title="Անուն" [sort]="true">
  </app-advanced-table-column>

  <app-advanced-table-column key="faculty.name" title="Ֆակուլտետ" [sort]="true">
    <ng-template #incomingTemplate let-item="item" let-innerHTML="innerHTML">
      {{item.faculty.name}}
    </ng-template>
  </app-advanced-table-column>

  <app-advanced-table-column key="departmentHead.head.fullName" title="Ամբիոնի վարիչ" [sort]="true">
    <ng-template #incomingTemplate let-item="item" let-innerHTML="innerHTML">
      {{item.departmentHead?.head?.name}}
    </ng-template>
  </app-advanced-table-column>

  <app-advanced-table-column key="professions" title="Բաժիններ">
    <ng-template #incomingTemplate let-item="item" let-innerHTML="innerHTML">
      {{item.professions.length}}
    </ng-template>
  </app-advanced-table-column>

  <app-advanced-table-column key="teachers" title="Դասախոսներ">
    <ng-template #incomingTemplate let-item="item" let-innerHTML="innerHTML">
      {{item.teachers.length}}
    </ng-template>
  </app-advanced-table-column>

</app-advanced-table>